{% extends 'base.html.twig' %}

{% block title %}Edit Reaction{% endblock %}

{% block body %}
    <h1>Edit Reaction</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Save</button>
    {{ form_end(form) }}
    <a href="{{ path('reaction_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}