{% extends 'base.html.twig' %}

{% block title %}Add New Resume{% endblock %}

{% block body %}
    <h1>Add New Resume</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Save</button>
    {{ form_end(form) }}
    <a href="{{ path('resume_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}